body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
li a{
    font-size: 0.7em;
    color:hsl(0, 0%, 75%);
}
button[type="submit"]{
    border:none;
    background-color:#17b0c7;
    color: white;
}
button[type="submit"]:active, a:active{
    background-color: hsl(180, 66%, 49%);
}
button[type="button"]{
    border: none;
    background: transparent;
    font-size: 0.7em;
    color:hsl(0, 0%, 75%);
}
nav.flexbox{
    display: flex;
    justify-content: space-between;
}
.flexbox, .activation, .info, .activation, .wrap {
    padding:0 8em;
}
.section-1{
    padding: 0 0 0 8em;
}
nav.flexbox ul {        
    display: flex;
    align-items: center;
    }

nav.flexbox ul li {
    margin-right: 20px;
}
nav.flexbox ul li:last-child {
    margin-right: 0px;
}
section.section-1{
    display: flex;
    flex-direction: row;
}

.section-1 div button{
    margin-top: 1.5em;
    width: 9em;
    height: 3em;
}
.section-1 h1{
    margin-top: 1em;
    font-size: 3.5em;
    font-weight: 700;
}
.activation h2, 
.main>h2{
    font-size: 2em;
}
.cards h2{
    font-size: 1.2em;
}

.shortener{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width:75%;
    position:relative;
    top:3.5em;
    border-radius: 10px;
    margin: 0 auto;
    background: hsl(257, 27%, 26%);
    background-image: url("../images/bg-shorten-desktop.svg");
    background-size: cover;
}
.shortener input{
    border-radius: 0.8em;
    width:40em;
    height: 3em;
}
.shortener button{
    border-radius: 0.8em;
    width: 8.5em;
    height: 3.5em;
}
.info{
    height:50%;
    background: hsl(0, 0%, 75%);
    text-align: center;
    padding-top: 10em;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7em;
    padding-top: 5em;
    
}
.cards >div{
    padding: 3em 0 2em 0;
    background-color: white;
}
.cards >div:nth-last-of-type(3){
    position: relative;
}
.cards >div:nth-last-of-type(2){
    position: relative;
    top: 3em;
}
.cards >div:nth-last-of-type(1){
    position: relative;
    top: 5em;
}
/* .cards-img{
    margin-top: 2em;
} */
.card-1 div{
    position: absolute;
    bottom:9.5em;
    left: 1em;
    z-index: 10;
}
.card-2 div{
    position: absolute;
    bottom:9.5em;
    left: 1em;
    z-index: 10;
}
.card-3 div{
    position: absolute;
    bottom:9.5em;
    left: 1em;
    z-index: 10;
}

.card-1,
.card-2,
.card-3{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
}
.card-1 > *,
.card-2 > *,
.card-3 > *{
    padding: 0 1em;
}
.card-1 h2,
.card-2 h2,
.card-3 h2{
    font-weight: 700;
    padding-bottom: 1em;
}


.card-1 div,
.card-2 div,
.card-3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 5em;
    width: 5em;
    height: 5em;
} 
.activation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(257, 27%, 26%);
    background-image: url("../images/bg-boost-desktop.svg");
    background-size: cover;
    height: 12em;
    color:white;
    
}
.activation h2{
    padding-bottom: 1em;
}
.activation button{
    width: 9em;
    height: 3em;
}
.wrap  *{
    color:white;
}
.wrap{
    background-color: hsl(260, 8%, 14%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 11em;
    padding-top:3em;
}
.wrap h2:first-child{
    margin-right: 5em;
    font-weight: 700;
}

hr.line{
    position: relative;
    top:5em;
    width:3em;
    border: solid hsl(180, 66%, 49%);
}
 